<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>info</key>
	<dict>
		<key>author</key>
		<string>RjDj</string>
		<key>category</key>
		<string>soundtrip</string>
		<key>description</key>
		<string>Inception</string>
		<key>name</key>
		<string>Reverie</string>
		<key>sceneId</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
